<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Junction Set Creation</title>
  <style>
    /* Styling for the active direction button */
    .active {
      /*Can use the !important tag to override the default settings of a browser. So by default, the active button would have a grey background in Chrome, so we must override to get green*/
      background-color: #4CAF50 !important; /* Green background for the active button */
      color: white;
      border: none;
      font-weight: bold;
    }
    /* Styling for the inactive direction buttons */
    .direction-buttons button {
      background-color: #f1f1f1;
      color: black;
      border: 1px solid #ccc;
      padding: 10px;
      cursor: pointer;
    }
    /* Style to make the priority number just a plain text, not a textbox */
    .priority-number {
      font-size: 16px;
      font-weight: bold;
      display: inline-block;
      width: 40px;
      text-align: center;
    }
    /* Styling for invalid input */
    input.invalid {
      border: 2px solid red;
    }
    
    /* Styling for valid input */
    input.valid {
      border: 2px solid green;
    }
    
    .error-message {
      color: red;
      font-size: 12px;
    }
  </style>
</head>
<body>

  <h1>Create a Junction Set</h1>
  
  <form id="junctionForm" method="POST" action="/junctionform" onsubmit="return validateForm()">
    <!-- Junction Set Name -->
    <label for="junctionSetName">Junction Set Name:</label>
    <input type="text" id="junctionSetName" name="junctionSetName">
    <!-- Crossing duration for pedestrians -->
    <br>
    <label for="crossingDuration">Pedestrian Crossing Duration (in seconds):</label>
    <input type="text" id="crossingDuration" name="crossingDuration" oninput="validateDecimal(this)">
    <div id="crossingDurationError" class="error-message"></div>
    <!-- User priorities of key junction attributes-->
    <label for="AverageWait">Average Wait Time Priority (%):</label>
    <input type="text" id="AverageWait" name="AverageWait" oninput="validateInteger(this)">
    <div id="AverageWaitError" class="error-message"></div>

    <label for="MaxWait">Maximum Wait Time Priority (%):</label>
    <input type="text" id="MaxWait" name="MaxWait" oninput="validateInteger(this)">
    <div id="MaxWaitError" class="error-message"></div>

    <label for="MaxQueue">Maximum Wait Time Priority (%):</label>
    <input type="text" id="MaxQueue" name="MaxQueue" oninput="validateInteger(this)">
    <div id="MaxQueueError" class="error-message"></div>

    <!-- Direction buttons to show input forms for each direction -->
    <div class="direction-buttons">
      <button type="button" id="northButton" onclick="showDirectionForm('north')">Northbound</button>
      <button type="button" id="southButton" onclick="showDirectionForm('south')">Southbound</button>
      <button type="button" id="eastButton" onclick="showDirectionForm('east')">Eastbound</button>
      <button type="button" id="westButton" onclick="showDirectionForm('west')">Westbound</button>
    </div>

    <!-- North Form Inputs (Only one of these will be visible at a time) -->
    <div id="northForm" class="form-container">
      <h3>Northbound</h3>
      <label for="northVehiclesIn">Total Vehicles Incoming (per hour):</label>
      <input type="text" id="northVehiclesIn" name="northVehiclesIn" oninput="validateInteger(this)">
      <div id="northVehiclesInError" class="error-message"></div>

      <label for="northLeftOut">Total Vehicles Exiting East (per hour):</label>
      <input type="text" id="northLeftOut" name="northLeftOut" oninput="validateInteger(this)">
      <div id="northLeftOutError" class="error-message"></div>

      <label for="northStraightOut">Total Vehicles Exiting North (per hour):</label>
      <input type="text" id="northStraightOut" name="northStraightOut" oninput="validateInteger(this)">
      <div id="northStraightOutError" class="error-message"></div>

      <label for="northRightOut">Total Vehicles Exiting West (per hour):</label>
      <input type="text" id="northRightOut" name="northRightOut" oninput="validateInteger(this)">
      <div id="northRightOutError" class="error-message"></div>

      <label for="northCarPercentage">Percentage of Cars:</label>
      <input type="text" id="northCarPercentage" name="northCarPercentage"  oninput="validateDecimal(this)">
      <div id="northCarPercentageError" class="error-message"></div>

      <label for="northBusPercentage">Percentage of Buses:</label>
      <input type="text" id="northBusPercentage" name="northBusPercentage"  oninput="validateDecimal(this)">
      <div id="northBusPercentageError" class="error-message"></div>

      <label for="northCyclePercentage">Percentage of Cycles:</label>
      <input type="text" id="northCyclePercentage" name="northCyclePercentage"  oninput="validateDecimal(this)">
      <div id="northCyclePercentageError" class="error-message"></div>

      <label for="northPriority">Direction Priority:</label>
      <input type="range" id="northPriority" name="northPriority" min="0" max="4" value="0" oninput="updatePriorityText('north')">
      <span id="northPriorityText" class="priority-number">0</span>
      <!-- Forces a line break -->
      <br>
      <label for="northPedestrianCheckbox"> Pedestrian Crossing: </label>
      <input type="checkbox" id="northPedestrianCheckbox" name="northPedestrian" value="1" onclick="northPedestrianToggle()">
      <br>
      <label id="northPedestrianLabel" for="northPedestrian" style="display:none;">Crossing Requests (per hour):</label>
      <input type="text" id="northPedestrian" name="northRequestFrequency" style="display:none;">
      <div id="northPedestrianError" class="error-message"></div>
    </div>

    <!-- South Form Inputs -->
    <div id="southForm" class="form-container">
      <h3>Southbound</h3>
      <label for="southVehiclesIn">Total Vehicles Incoming (per hour):</label>
      <input type="text" id="southVehiclesIn" name="southVehiclesIn"  oninput="validateInteger(this)">
      <div id="southVehiclesInError" class="error-message"></div>

      <label for="southLeftOut">Total Vehicles Exiting East (per hour):</label>
      <input type="text" id="southLeftOut" name="southLeftOut"  oninput="validateInteger(this)">
      <div id="southLeftOutError" class="error-message"></div>

      <label for="southStraightOut">Total Vehicles Exiting South (per hour):</label>
      <input type="text" id="southStraightOut" name="southStraightOut"  oninput="validateInteger(this)">
      <div id="southStraightOutError" class="error-message"></div>

      <label for="southRightOut">Total Vehicles Exiting West (per hour):</label>
      <input type="text" id="southRightOut" name="southRightOut"  oninput="validateInteger(this)">
      <div id="southRightOutError" class="error-message"></div>

      <label for="southCarPercentage">Percentage of Cars:</label>
      <input type="text" id="southCarPercentage" name="southCarPercentage"  oninput="validateDecimal(this)">
      <div id="southCarPercentageError" class="error-message"></div>

      <label for="southBusPercentage">Percentage of Buses:</label>
      <input type="text" id="southBusPercentage" name="southBusPercentage"  oninput="validateDecimal(this)">
      <div id="southBusPercentageError" class="error-message"></div>

      <label for="southCyclePercentage">Percentage of Cycles:</label>
      <input type="text" id="southCyclePercentage" name="southCyclePercentage"  oninput="validateDecimal(this)">
      <div id="southCyclePercentageError" class="error-message"></div>

      <label for="southPriority">Direction Priority:</label>
      <input type="range" id="southPriority" name="southPriority" min="0" max="4" value="0" oninput="updatePriorityText('south')">
      <span id="southPriorityText" class="priority-number">0</span>
      <!-- Forces a line break -->
      <br>
      <label for="southPedestrianCheckbox"> Pedestrian Crossing: </label>
      <input type="checkbox" id="southPedestrianCheckbox" name="southPedestrian" value="1" onclick="southPedestrianToggle()">
      <br>
      <label id="southPedestrianLabel" for="southPedestrian" style="display:none;">Crossing Requests (per hour):</label>
      <input type="text" id="southPedestrian" name="southRequestFrequency" style="display:none;">
      <div id="southPedestrianError" class="error-message"></div>
    </div>

    <!-- East Form Inputs -->
    <div id="eastForm" class="form-container">
      <h3>Eastbound</h3>
      <label for="eastVehiclesIn">Total Vehicles Incoming (per hour):</label>
      <input type="text" id="eastVehiclesIn" name="eastVehiclesIn"  oninput="validateInteger(this)">
      <div id="eastVehiclesInError" class="error-message"></div>

      <label for="eastLeftOut">Total Vehicles Exiting East (per hour):</label>
      <input type="text" id="eastLeftOut" name="eastLeftOut"  oninput="validateInteger(this)">
      <div id="eastLeftOutError" class="error-message"></div>

      <label for="eastStraightOut">Total Vehicles Exiting North (per hour):</label>
      <input type="text" id="eastStraightOut" name="eastStraightOut"  oninput="validateInteger(this)">
      <div id="eastStraightOutError" class="error-message"></div>

      <label for="eastRightOut">Total Vehicles Exiting South (per hour):</label>
      <input type="text" id="eastRightOut" name="eastRightOut"  oninput="validateInteger(this)">
      <div id="eastRightOutError" class="error-message"></div>

      <label for="eastCarPercentage">Percentage of Cars:</label>
      <input type="text" id="eastCarPercentage" name="eastCarPercentage"  oninput="validateDecimal(this)">
      <div id="eastCarPercentageError" class="error-message"></div>

      <label for="eastBusPercentage">Percentage of Buses:</label>
      <input type="text" id="eastBusPercentage" name="eastBusPercentage"  oninput="validateDecimal(this)">
      <div id="eastBusPercentageError" class="error-message"></div>

      <label for="eastCyclePercentage">Percentage of Cycles:</label>
      <input type="text" id="eastCyclePercentage" name="eastCyclePercentage"  oninput="validateDecimal(this)">
      <div id="eastCyclePercentageError" class="error-message"></div>

      <label for="eastPriority">Direction Priority:</label>
      <input type="range" id="eastPriority" name="eastPriority" min="0" max="4" value="0" oninput="updatePriorityText('east')">
      <span id="eastPriorityText" class="priority-number">0</span>
      <!-- Forces a line break -->
      <br>
      <label for="eastPedestrianCheckbox"> Pedestrian Crossing: </label>
      <input type="checkbox" id="eastPedestrianCheckbox" name="eastPedestrian" value="1" onclick="eastPedestrianToggle()">
      <br>
      <label id="eastPedestrianLabel" for="eastPedestrian" style="display:none;">Crossing Requests (per hour):</label>
      <input type="text" id="eastPedestrian" name="eastRequestFrequency" style="display:none;">
      <div id="eastPedestrianError" class="error-message"></div>
    </div>

    <!-- West form inputs -->
    <div id="westForm" class="form-container">
      <h3>Westbound</h3>
      <label for="westVehiclesIn">Total Vehicles Incoming (per hour):</label>
      <input type="text" id="westVehiclesIn" name="westVehiclesIn"  oninput="validateInteger(this)">
      <div id="westVehiclesInError" class="error-message"></div>

      <label for="westLeftOut">Total Vehicles Exiting West (per hour):</label>
      <input type="text" id="westLeftOut" name="westLeftOut"  oninput="validateInteger(this)">
      <div id="westLeftOutError" class="error-message"></div>

      <label for="westStraightOut">Total Vehicles Exiting North (per hour):</label>
      <input type="text" id="westStraightOut" name="westStraightOut"  oninput="validateInteger(this)">
      <div id="westStraightOutError" class="error-message"></div>

      <label for="westRightOut">Total Vehicles Exiting South (per hour):</label>
      <input type="text" id="westRightOut" name="westRightOut"  oninput="validateInteger(this)">
      <div id="westRightOutError" class="error-message"></div>

      <label for="westCarPercentage">Percentage of Cars:</label>
      <input type="text" id="westCarPercentage" name="westCarPercentage"  oninput="validateDecimal(this)">
      <div id="westCarPercentageError" class="error-message"></div>

      <label for="westBusPercentage">Percentage of Buses:</label>
      <input type="text" id="westBusPercentage" name="westBusPercentage"  oninput="validateDecimal(this)">
      <div id="westBusPercentageError" class="error-message"></div>

      <label for="westCyclePercentage">Percentage of Cycles:</label>
      <input type="text" id="westCyclePercentage" name="westCyclePercentage"  oninput="validateDecimal(this)">
      <div id="westCyclePercentageError" class="error-message"></div>

      <label for="westPriority">Direction Priority:</label>
      <input type="range" id="westPriority" name="westPriority" min="0" max="4" value="0" oninput="updatePriorityText('west')">
      <span id="westPriorityText" class="priority-number">0</span>
      <!-- Forces a line break -->
      <br>
      <label for="westPedestrianCheckbox"> Pedestrian Crossing: </label>
      <input type="checkbox" id="westPedestrianCheckbox" name="westPedestrian" value="1" onclick="westPedestrianToggle()">
      <br>
      <label id="westPedestrianLabel" for="westPedestrian" style="display:none;">Crossing Requests (per hour):</label>
      <input type="text" id="westPedestrian" name="westRequestFrequency" style="display:none;">
      <div id="westPedestrianError" class="error-message"></div>
    </div>

    <!-- Submit the form -->
    <button type="submit">Submit Junction Set</button>
  </form>

  <!-- Return to home page. Sends a get request to /home, which Flask picks up, causing home page to be rendered at /home -->
  <button onclick="window.location.href='/home'">Back to Home</button>



  <script src="{{ url_for('static', filename='CreateNewSetScript.js')}}" defer></script>

</body>
</html>