<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Junction Set Creation</title>
  <style>
    /* Styling for the active direction button */
    .active {
      /*Can use the !important tag to override the default settings of a browser. So by default, the active button would have a grey background in Chrome, so we must override to get green*/
      background-color: #4CAF50 !important; /* Green background for the active button */
      color: white;
      border: none;
      font-weight: bold;
    }
    /* Styling for the inactive direction buttons */
    .direction-buttons button {
      background-color: #f1f1f1;
      color: black;
      border: 1px solid #ccc;
      padding: 10px;
      cursor: pointer;
    }
    /* Style to make the priority number just a plain text, not a textbox */
    .priority-number {
      font-size: 16px;
      font-weight: bold;
      display: inline-block;
      width: 40px;
      text-align: center;
    }
    /* Styling for invalid input */
    input.invalid {
      border: 2px solid red;
    }

    /* Styling for valid input */
    input.valid {
      border: 2px solid green;
    }
    
    .error-message {
      color: red;
      font-size: 12px;
    }
  </style>
</head>
<body>

  <h1>Create a Junction Set</h1>
  
  <form id="junctionForm" method="POST" action="/junctionform" onsubmit="return validateForm()">
    <!-- Junction Set Name -->
    <label for="junctionSetName">Junction Set Name:</label>
    <input type="text" id="junctionSetName" name="junctionSetName">
    <!-- Crossing duration for pedestrians -->
    <br>
    <label for="crossingDuration">Pedestrian Crossing Duration (in seconds):</label>
    <input type="text" id="crossingDuration" name="crossingDuration" oninput="validateDecimal(this)">
    <div id="crossingDurationError" class="error-message"></div>
    <!-- User priorities of key junction attributes-->
    <label for="AverageWait">Average Wait Time Priority (%):</label>
    <input type="text" id="AverageWait" name="AverageWait" oninput="validateInteger(this)">
    <div id="AverageWaitError" class="error-message"></div>

    <label for="MaxWait">Maximum Wait Time Priority (%):</label>
    <input type="text" id="MaxWait" name="MaxWait" oninput="validateInteger(this)">
    <div id="MaxWaitError" class="error-message"></div>

    <label for="MaxQueue">Maximum Wait Time Priority (%):</label>
    <input type="text" id="MaxQueue" name="MaxQueue" oninput="validateInteger(this)">
    <div id="MaxQueueError" class="error-message"></div>

    <!-- Direction buttons to show input forms for each direction -->
    <div class="direction-buttons">
      <button type="button" id="northButton" onclick="showDirectionForm('north')">Northbound</button>
      <button type="button" id="southButton" onclick="showDirectionForm('south')">Southbound</button>
      <button type="button" id="eastButton" onclick="showDirectionForm('east')">Eastbound</button>
      <button type="button" id="westButton" onclick="showDirectionForm('west')">Westbound</button>
    </div>

    <!-- North Form Inputs (Only one of these will be visible at a time) -->
    <div id="northForm" class="form-container">
      <h3>Northbound</h3>
      <label for="northVehiclesIn">Total Vehicles Incoming (per hour):</label>
      <input type="text" id="northVehiclesIn" name="northVehiclesIn" oninput="validateInteger(this)">
      <div id="northVehiclesInError" class="error-message"></div>

      <label for="northLeftOut">Total Vehicles Exiting East (per hour):</label>
      <input type="text" id="northLeftOut" name="northLeftOut" oninput="validateInteger(this)">
      <div id="northLeftOutError" class="error-message"></div>

      <label for="northStraightOut">Total Vehicles Exiting North (per hour):</label>
      <input type="text" id="northStraightOut" name="northStraightOut" oninput="validateInteger(this)">
      <div id="northStraightOutError" class="error-message"></div>

      <label for="northRightOut">Total Vehicles Exiting West (per hour):</label>
      <input type="text" id="northRightOut" name="northRightOut" oninput="validateInteger(this)">
      <div id="northRightOutError" class="error-message"></div>

      <label for="northCarPercentage">Percentage of Cars:</label>
      <input type="text" id="northCarPercentage" name="northCarPercentage"  oninput="validateDecimal(this)">
      <div id="northCarPercentageError" class="error-message"></div>

      <label for="northBusPercentage">Percentage of Buses:</label>
      <input type="text" id="northBusPercentage" name="northBusPercentage"  oninput="validateDecimal(this)">
      <div id="northBusPercentageError" class="error-message"></div>

      <label for="northCyclePercentage">Percentage of Cycles:</label>
      <input type="text" id="northCyclePercentage" name="northCyclePercentage"  oninput="validateDecimal(this)">
      <div id="northCyclePercentageError" class="error-message"></div>

      <label for="northPriority">Direction Priority:</label>
      <input type="range" id="northPriority" name="northPriority" min="0" max="4" value="0" oninput="updatePriorityText('north')">
      <span id="northPriorityText" class="priority-number">0</span>
      <!-- Forces a line break -->
      <br>
      <label for="northPedestrianCheckbox"> Pedestrian Crossing: </label>
      <input type="checkbox" id="northPedestrianCheckbox" name="northPedestrian" value="1" onclick="northPedestrianToggle()">
      <br>
      <label id="northPedestrianLabel" for="northPedestrian" style="display:none;">Crossing Requests (per hour):</label>
      <input type="text" id="northPedestrian" name="northRequestFrequency" style="display:none;">
      <div id="northRequestFrequencyError" class="error-message"></div>
    </div>

    <!-- South Form Inputs -->
    <div id="southForm" class="form-container">
      <h3>Southbound</h3>
      <label for="southVehiclesIn">Total Vehicles Incoming (per hour):</label>
      <input type="text" id="southVehiclesIn" name="southVehiclesIn"  oninput="validateInteger(this)">
      <div id="southVehiclesInError" class="error-message"></div>

      <label for="southLeftOut">Total Vehicles Exiting East (per hour):</label>
      <input type="text" id="southLeftOut" name="southLeftOut"  oninput="validateInteger(this)">
      <div id="southLeftOutError" class="error-message"></div>

      <label for="southStraightOut">Total Vehicles Exiting South (per hour):</label>
      <input type="text" id="southStraightOut" name="southStraightOut"  oninput="validateInteger(this)">
      <div id="southStraightOutError" class="error-message"></div>

      <label for="southRightOut">Total Vehicles Exiting West (per hour):</label>
      <input type="text" id="southRightOut" name="southRightOut"  oninput="validateInteger(this)">
      <div id="southRightOutError" class="error-message"></div>

      <label for="southCarPercentage">Percentage of Cars:</label>
      <input type="text" id="southCarPercentage" name="southCarPercentage"  oninput="validateDecimal(this)">
      <div id="southCarPercentageError" class="error-message"></div>

      <label for="southBusPercentage">Percentage of Buses:</label>
      <input type="text" id="southBusPercentage" name="southBusPercentage"  oninput="validateDecimal(this)">
      <div id="southBusPercentageError" class="error-message"></div>

      <label for="southCyclePercentage">Percentage of Cycles:</label>
      <input type="text" id="southCyclePercentage" name="southCyclePercentage"  oninput="validateDecimal(this)">
      <div id="southCyclePercentageError" class="error-message"></div>

      <label for="southPriority">Direction Priority:</label>
      <input type="range" id="southPriority" name="southPriority" min="0" max="4" value="0" oninput="updatePriorityText('south')">
      <span id="southPriorityText" class="priority-number">0</span>
      <!-- Forces a line break -->
      <br>
      <label for="southPedestrianCheckbox"> Pedestrian Crossing: </label>
      <input type="checkbox" id="southPedestrianCheckbox" name="southPedestrian" value="1" onclick="southPedestrianToggle()">
      <br>
      <label id="southPedestrianLabel" for="southPedestrian" style="display:none;">Crossing Requests (per hour):</label>
      <input type="text" id="southPedestrian" name="southRequestFrequency" style="display:none;">
      <div id="southRequestFrequencyError" class="error-message"></div>
    </div>

    <!-- East Form Inputs -->
    <div id="eastForm" class="form-container">
      <h3>Eastbound</h3>
      <label for="eastVehiclesIn">Total Vehicles Incoming (per hour):</label>
      <input type="text" id="eastVehiclesIn" name="eastVehiclesIn"  oninput="validateInteger(this)">
      <div id="eastVehiclesInError" class="error-message"></div>

      <label for="eastLeftOut">Total Vehicles Exiting East (per hour):</label>
      <input type="text" id="eastLeftOut" name="eastLeftOut"  oninput="validateInteger(this)">
      <div id="eastLeftOutError" class="error-message"></div>

      <label for="eastStraightOut">Total Vehicles Exiting North (per hour):</label>
      <input type="text" id="eastStraightOut" name="eastStraightOut"  oninput="validateInteger(this)">
      <div id="eastStraightOutError" class="error-message"></div>

      <label for="eastRightOut">Total Vehicles Exiting South (per hour):</label>
      <input type="text" id="eastRightOut" name="eastRightOut"  oninput="validateInteger(this)">
      <div id="eastRightOutError" class="error-message"></div>

      <label for="eastCarPercentage">Percentage of Cars:</label>
      <input type="text" id="eastCarPercentage" name="eastCarPercentage"  oninput="validateDecimal(this)">
      <div id="eastCarPercentageError" class="error-message"></div>

      <label for="eastBusPercentage">Percentage of Buses:</label>
      <input type="text" id="eastBusPercentage" name="eastBusPercentage"  oninput="validateDecimal(this)">
      <div id="eastBusPercentageError" class="error-message"></div>

      <label for="eastCyclePercentage">Percentage of Cycles:</label>
      <input type="text" id="eastCyclePercentage" name="eastCyclePercentage"  oninput="validateDecimal(this)">
      <div id="eastCyclePercentageError" class="error-message"></div>

      <label for="eastPriority">Direction Priority:</label>
      <input type="range" id="eastPriority" name="eastPriority" min="0" max="4" value="0" oninput="updatePriorityText('east')">
      <span id="eastPriorityText" class="priority-number">0</span>
      <!-- Forces a line break -->
      <br>
      <label for="eastPedestrianCheckbox"> Pedestrian Crossing: </label>
      <input type="checkbox" id="eastPedestrianCheckbox" name="eastPedestrian" value="1" onclick="eastPedestrianToggle()">
      <br>
      <label id="eastPedestrianLabel" for="eastPedestrian" style="display:none;">Crossing Requests (per hour):</label>
      <input type="text" id="eastPedestrian" name="eastRequestFrequency" style="display:none;">
      <div id="eastRequestFrequencyError" class="error-message"></div>
    </div>

    <!-- West form inputs -->
    <div id="westForm" class="form-container">
      <h3>Westbound</h3>
      <label for="westVehiclesIn">Total Vehicles Incoming (per hour):</label>
      <input type="text" id="westVehiclesIn" name="westVehiclesIn"  oninput="validateInteger(this)">
      <div id="westVehiclesInError" class="error-message"></div>

      <label for="westLeftOut">Total Vehicles Exiting West (per hour):</label>
      <input type="text" id="westLeftOut" name="westLeftOut"  oninput="validateInteger(this)">
      <div id="westLeftOutError" class="error-message"></div>

      <label for="westStraightOut">Total Vehicles Exiting North (per hour):</label>
      <input type="text" id="westStraightOut" name="westStraightOut"  oninput="validateInteger(this)">
      <div id="westStraightOutError" class="error-message"></div>

      <label for="westRightOut">Total Vehicles Exiting South (per hour):</label>
      <input type="text" id="westRightOut" name="westRightOut"  oninput="validateInteger(this)">
      <div id="westRightOutError" class="error-message"></div>

      <label for="westCarPercentage">Percentage of Cars:</label>
      <input type="text" id="westCarPercentage" name="westCarPercentage"  oninput="validateDecimal(this)">
      <div id="westCarPercentageError" class="error-message"></div>

      <label for="westBusPercentage">Percentage of Buses:</label>
      <input type="text" id="westBusPercentage" name="westBusPercentage"  oninput="validateDecimal(this)">
      <div id="westBusPercentageError" class="error-message"></div>

      <label for="westCyclePercentage">Percentage of Cycles:</label>
      <input type="text" id="westCyclePercentage" name="westCyclePercentage"  oninput="validateDecimal(this)">
      <div id="westCyclePercentageError" class="error-message"></div>

      <label for="westPriority">Direction Priority:</label>
      <input type="range" id="westPriority" name="westPriority" min="0" max="4" value="0" oninput="updatePriorityText('west')">
      <span id="westPriorityText" class="priority-number">0</span>
      <!-- Forces a line break -->
      <br>
      <label for="westPedestrianCheckbox"> Pedestrian Crossing: </label>
      <input type="checkbox" id="westPedestrianCheckbox" name="westPedestrian" value="1" onclick="westPedestrianToggle()">
      <br>
      <label id="westPedestrianLabel" for="westPedestrian" style="display:none;">Crossing Requests (per hour):</label>
      <input type="text" id="westPedestrian" name="westRequestFrequency" style="display:none;">
      <div id="westRequestFrequencyError" class="error-message"></div>
    </div>

    <!-- Submit the form -->
    <button type="submit">Submit Junction Set</button>
  </form>

  <!-- Return to home page. Sends a get request to /home, which Flask picks up, causing home page to be rendered at /home -->
  <button onclick="window.location.href='/home'">Back to Home</button>



  <script>
    //This will clear the junction set design form every time the CreateNewSet page is loaded. So, for example, if we navigate back to this page post-submission, we will navigate back to an empty form.
    window.addEventListener("pageshow", function() {
      document.getElementById("junctionForm").reset();
    });
    //Boolean that tracks whether or not a warning should be flagged upon attempting to leave the current page
    let formChanged = false;

    //This will detect whether or not the user has provided any input to the username textbox.
    document.getElementById("junctionForm").addEventListener("input", function() {
        formChanged = true;
    });

    //In the case that the user presses submit as their means of navigating away from the website, no warning message will appear
    document.getElementById("junctionForm").addEventListener("submit", function() {
        formChanged = false; 
    });
    //This will display a warning message if the user attempts to navigate away from the warning page after having provdided input, indicating progress will be lost
    window.addEventListener("beforeunload", function(event) {
        if (formChanged) { 
            event.preventDefault();
            event.returnValue = "Your progress will be lost if you leave this page.";
        }
    });
    // Initialize the page with the North direction form displayed by default, thus highlighting the North button before the user has pressed any button
    showDirectionForm('north');
    // Validate for integer (>= 0)
    function validateInteger(input) {
    const value = input.value;
    const isValid = /^\d+$/.test(value);  // Matches one or more digits (non-negative integer)
    const errorMessage = document.getElementById(input.id + "Error");

    if (isValid) {
      input.classList.add("valid");
      input.classList.remove("invalid");
      errorMessage.textContent = ""; // Clear error message
    } else {
      input.classList.add("invalid");
      input.classList.remove("valid");
      errorMessage.textContent = "Please enter a non-negative integer."; // Show error message
    }
  }

  function validateTextboxInput(event) {
    const textbox = event.target;  // The textbox that triggered the 'input' event
    validateDecimal(textbox);  // Pass the textbox to the validation function
  }

    //If the checkbox for pedestrian crossing is checked, the user will be prompted to specify the frequency of crossing requests that will occur.
    function northPedestrianToggle(){
      const checkbox = document.getElementById("northPedestrianCheckbox")
      const textbox = document.getElementById("northPedestrian")
      const textboxLabel = document.getElementById("northPedestrianLabel")
      

      //If the checkbox is checked, show the textbox allowing the user to specify crossing request frequency and the textbox's label
      if (checkbox.checked) {
          textbox.style.display = "inline-block";
          textboxLabel.style.display = "inline-block";
          textbox.setAttribute("", "true")
          textbox.setAttribute("pattern", "^[0-9]+(\.[0-9]{1})?$")

          // Add event listener for input validation when the textbox is visible
          textbox.addEventListener("input", validateTextboxInput);

          // Validate immediately when the checkbox is checked (for any pre-existing input)
          validateDecimal(textbox);  // Only pass the textbox
      } else {
          textbox.style.display = "none";
          textboxLabel.style.display = "none";
          textbox.removeAttribute("")
          textbox.removeAttribute("pattern");  // Remove the pattern when unchecked
          // Remove event listener for validation when the textbox is hidden
          textbox.removeEventListener("input", validateTextboxInput);
          //Revalidate the textbox when the checkbox is unchecked
          resetTextBox(textbox)
      }
    }

    function southPedestrianToggle(){
      const checkbox = document.getElementById("southPedestrianCheckbox")
      const textbox = document.getElementById("southPedestrian")
      const textboxLabel = document.getElementById("southPedestrianLabel")

      //If the checkbox is checked, show the textbox allowing the user to specify crossing request frequency and the textbox's label
      if (checkbox.checked) {
          textbox.style.display = "inline-block";
          textboxLabel.style.display = "inline-block";
          textbox.setAttribute("", "true")
          textbox.setAttribute("pattern", "^[0-9]+(\.[0-9]{1})?$")

          // Add event listener for input validation when the textbox is visible
          textbox.addEventListener("input", validateTextboxInput);

          // Validate immediately when the checkbox is checked (for any pre-existing input)
          validateDecimal(textbox);  // Only pass the textbox
      } else {
          textbox.style.display = "none";
          textboxLabel.style.display = "none";
          textbox.removeAttribute("")
          textbox.removeAttribute("pattern");  // Remove the pattern when unchecked
          // Remove event listener for validation when the textbox is hidden
          textbox.removeEventListener("input", validateTextboxInput);
          //Revalidate the textbox when the checkbox is unchecked
          resetTextBox(textbox)
      }
    }

    function eastPedestrianToggle(){
      const checkbox = document.getElementById("eastPedestrianCheckbox")
      const textbox = document.getElementById("eastPedestrian")
      const textboxLabel = document.getElementById("eastPedestrianLabel")

      //If the checkbox is checked, show the textbox allowing the user to specify crossing request frequency and the textbox's label
      if (checkbox.checked) {
          textbox.style.display = "inline-block";
          textboxLabel.style.display = "inline-block";
          textbox.setAttribute("", "true")
          textbox.setAttribute("pattern", "^[0-9]+(\.[0-9]{1})?$")

          // Add event listener for input validation when the textbox is visible
          textbox.addEventListener("input", validateTextboxInput);

          // Validate immediately when the checkbox is checked (for any pre-existing input)
          validateDecimal(textbox);  // Only pass the textbox
      } else {
          textbox.style.display = "none";
          textboxLabel.style.display = "none";
          textbox.removeAttribute("")
          textbox.removeAttribute("pattern");  // Remove the pattern when unchecked
          // Remove event listener for validation when the textbox is hidden
          textbox.removeEventListener("input", validateTextboxInput);
          //Revalidate the textbox when the checkbox is unchecked
          resetTextBox(textbox)
      }
    }

    function westPedestrianToggle(){
      const checkbox = document.getElementById("westPedestrianCheckbox")
      const textbox = document.getElementById("westPedestrian")
      const textboxLabel = document.getElementById("westPedestrianLabel")

      //If the checkbox is checked, show the textbox allowing the user to specify crossing request frequency and the textbox's label
      if (checkbox.checked) {
          textbox.style.display = "inline-block";
          textboxLabel.style.display = "inline-block";
          textbox.setAttribute("", "true")
          textbox.setAttribute("pattern", "^[0-9]+(\.[0-9]{1})?$")

          // Add event listener for input validation when the textbox is visible
          textbox.addEventListener("input", validateTextboxInput);

          // Validate immediately when the checkbox is checked (for any pre-existing input)
          validateDecimal(textbox);  // Only pass the textbox
      } else {
          textbox.style.display = "none";
          textboxLabel.style.display = "none";
          textbox.removeAttribute("")
          textbox.removeAttribute("pattern");  // Remove the pattern when unchecked
          // Remove event listener for validation when the textbox is hidden
          textbox.removeEventListener("input", validateTextboxInput);
          //Revalidate the textbox when the checkbox is unchecked
          resetTextBox(textbox)
      }
    }

    //When checkbox is unchecked, validate the textbox associated and remove any error message
    function resetTextBox(input){
      const errorMessage = document.getElementById(input.id + "Error");
      input.classList.add("valid");
      input.classList.remove("invalid");
      errorMessage.textContent = ""; // Clear error message
    }

    // Validate for decimal (>= 0, with one decimal place)
    function validateDecimal(input) {
      const value = input.value;
      const isValid = /^[0-9]+(\.[0-9]{1})?$/.test(value);  // Matches decimal with one decimal place
      const errorMessage = document.getElementById(input.id + "Error");

      if (isValid) {
        input.classList.add("valid");
        input.classList.remove("invalid");
        errorMessage.textContent = ""; // Clear error message
      } else {
        input.classList.add("invalid");
        input.classList.remove("valid");
        errorMessage.textContent = "Please enter a non-negative number (up to one decimal place)."; // Show error message
      }
    }
    // Show form for the selected direction (hide others)
    function showDirectionForm(direction) {
      // Hide all forms
      document.querySelectorAll('.form-container').forEach(form => form.style.display = 'none');
      
      // Show the selected direction's form
      document.getElementById(direction + 'Form').style.display = 'block';

      // Remove active class from all buttons
      const buttons = document.querySelectorAll('.direction-buttons button');
      buttons.forEach(button => button.classList.remove('active'));

      // Add active class to the clicked button
      document.getElementById(direction + 'Button').classList.add('active');
    }

    // Update the text span to reflect the current value of the slider
    function updatePriorityText(direction) {
      const slider = document.getElementById(direction + 'Priority');
      const textField = document.getElementById(direction + 'PriorityText');
      textField.innerText = slider.value;
    }

    // Custom form validation to prevent submission if fields are invalid
    function validateForm() {
    // Get all the input fields
    const inputs = document.querySelectorAll('input');
    //Get all textbox input fields
    const textInputs = document.querySelectorAll('input[type="text"]'); // Only textboxes
    //Assume that the form starts of valid
    let isValid = true;

    // Validate each input and prevent form submission if any input is invalid
    inputs.forEach(input => {
      // Trigger input validation
      input.dispatchEvent(new Event('input'));

      // Check if input is valid (doesn't have the invalid class)
      if (input.classList.contains('invalid')) {
        isValid = false;
      }
    });

    if (!document.getElementById("northPedestrianCheckbox").checked) {
        document.getElementById("northPedestrian").value = "0";
    }
    if (!document.getElementById("southPedestrianCheckbox").checked) {
        document.getElementById("southPedestrian").value = "0";
    }
    if (!document.getElementById("eastPedestrianCheckbox").checked) {
        document.getElementById("eastPedestrian").value = "0";
    }
    if (!document.getElementById("westPedestrianCheckbox").checked) {
        document.getElementById("westPedestrian").value = "0";
    }

    //Check if there are any empty textboxes
    let hasEmptyTextbox = false;

    // Check only textboxes for empty values
    textInputs.forEach(input => {

        // Validate only if the textbox isn't linked to an unchecked checkbox
        if (input.value.trim() === "") {
            hasEmptyTextbox = true; // Found an empty, required textbox
            isValid = false;
        }
    });

    // Prevent form submission and show alert if any textbox is empty
    if (hasEmptyTextbox) {
        alert("Please fill in all textboxes.");
    }
    

    // 1. Validate that the percentages add up to 100 for all directions

    //parseFloat is used since value retrieved from the object produced by document.getElementId is a string
    const nCarPercentage = parseFloat(document.getElementById('northCarPercentage').value);
    const nBusPercentage = parseFloat(document.getElementById('northBusPercentage').value);
    const nCyclePercentage = parseFloat(document.getElementById('northCyclePercentage').value);
    const nTotalPercentage = nCarPercentage + nBusPercentage + nCyclePercentage;

    if (nTotalPercentage !== 100) {
      alert("North Direction: The percentages of cars, buses, and cycles must add up to 100.");
      isValid = false;
    }

    const sCarPercentage = parseFloat(document.getElementById('southCarPercentage').value);
    const sBusPercentage = parseFloat(document.getElementById('southBusPercentage').value);
    const sCyclePercentage = parseFloat(document.getElementById('southCyclePercentage').value);
    const sTotalPercentage = sCarPercentage + sBusPercentage + sCyclePercentage;

    if (sTotalPercentage !== 100) {
      alert("South Direction: The percentages of cars, buses, and cycles must add up to 100.");
      isValid = false;
    }

    const eCarPercentage = parseFloat(document.getElementById('eastCarPercentage').value);
    const eBusPercentage = parseFloat(document.getElementById('eastBusPercentage').value);
    const eCyclePercentage = parseFloat(document.getElementById('eastCyclePercentage').value);
    const eTotalPercentage = eCarPercentage + eBusPercentage + eCyclePercentage;

    if (eTotalPercentage !== 100) {
      alert("East Direction: The percentages of cars, buses, and cycles must add up to 100.");
      isValid = false;
    }

    const wCarPercentage = parseFloat(document.getElementById('westCarPercentage').value);
    const wBusPercentage = parseFloat(document.getElementById('westBusPercentage').value);
    const wCyclePercentage = parseFloat(document.getElementById('westCyclePercentage').value);
    const wTotalPercentage = wCarPercentage + wBusPercentage + wCyclePercentage;

    if (wTotalPercentage !== 100) {
      alert("West Direction: The percentages of cars, buses, and cycles must add up to 100.");
      isValid = false;
    }

    // 2. Validate that incoming vehicles = exiting vehicles for every direction
    const nIncoming = parseInt(document.getElementById('northVehiclesIn').value);
    const nLeftOut = parseInt(document.getElementById('northLeftOut').value);
    const nStraightOut = parseInt(document.getElementById('northStraightOut').value);
    const nRightOut = parseInt(document.getElementById('northRightOut').value);
    const nTotalExiting = nLeftOut + nStraightOut + nRightOut;

    if (nIncoming !== nTotalExiting) {
      alert("North Direction: The total incoming vehicles must equal the total exiting vehicles.");
      isValid = false;
    }

    const sIncoming = parseInt(document.getElementById('southVehiclesIn').value);
    const sLeftOut = parseInt(document.getElementById('southLeftOut').value);
    const sStraightOut = parseInt(document.getElementById('southStraightOut').value);
    const sRightOut = parseInt(document.getElementById('southRightOut').value);
    const sTotalExiting = sLeftOut + sStraightOut + sRightOut;

    if (sIncoming !== sTotalExiting) {
      alert("South Direction: The total incoming vehicles must equal the total exiting vehicles.");
      isValid = false;
    }

    const eIncoming = parseInt(document.getElementById('eastVehiclesIn').value);
    const eLeftOut = parseInt(document.getElementById('eastLeftOut').value);
    const eStraightOut = parseInt(document.getElementById('eastStraightOut').value);
    const eRightOut = parseInt(document.getElementById('eastRightOut').value);
    const eTotalExiting = eLeftOut + eStraightOut + eRightOut;

    if (eIncoming !== eTotalExiting) {
      alert("East Direction: The total incoming vehicles must equal the total exiting vehicles.");
      isValid = false;
    }

    const wIncoming = parseInt(document.getElementById('westVehiclesIn').value);
    const wLeftOut = parseInt(document.getElementById('westLeftOut').value);
    const wStraightOut = parseInt(document.getElementById('westStraightOut').value);
    const wRightOut = parseInt(document.getElementById('westRightOut').value);
    const wTotalExiting = wLeftOut + wStraightOut + wRightOut;

    if (wIncoming !== wTotalExiting) {
      alert("West Direction: The total incoming vehicles must equal the total exiting vehicles.");
      isValid = false;
    }

    //Valide that the priorities allocated to the 3 key attributes of the junction add up to 100%
    const avgWait = parseInt(document.getElementById('AverageWait').value);
    const maxWait = parseInt(document.getElementById('MaxWait').value);
    const maxQueue = parseInt(document.getElementById('MaxQueue').value);
    const totalPriority = avgWait + maxWait + maxQueue;

    //Make the isValid variable false to denote that there is an issue with a value that the user has provided to the form, as well as clarifying this issue with an alert
    if (totalPriority != 100){
      alert("The sum of attribute priorities must be 100.");
      isValid = false;
    }

    // Return false to prevent form submission if any invalid input is found across all directions
    if (!isValid) {
      alert("Please correct the invalid fields before submitting.");
      return false;
    }

    return true;
  }
  // Prevent form submission when the Enter key is pressed
  document.getElementById('junctionForm').addEventListener('keydown', function(event) {
      if (event.key === 'Enter') {
        event.preventDefault(); // Prevent form submission on Enter key press
      }
    });
  </script>

</body>
</html>