
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Design a Junction</title>
</head>

<body>
<h1> Design a Junction</h1>


<script src="https://d3js.org/d3.v6.min.js"></script>
<script src="{{ url_for('static', filename='image.js') }}" defer></script> 
<script src="{{ url_for('static', filename='script.js') }}" defer></script>
<svg id="junctionCanvas"></svg>

<!-- Fixed Side Bar Menu -->
<div id="directionMenu">
    <button onclick="switchDirection('North')">North</button>
    <button onclick="switchDirection('East')">East</button>
    <button onclick="switchDirection('South')">South</button>
    <button onclick="switchDirection('West')">West</button>
</div>  


<div id = junctionConfigPerDirection>

<!--JUNCTION NAME TO DO. UHHH IM LAZY AND USED REGEX FOR VALIDATION DON'T REALLY THINK THATS APROPRIATE--> 

<label for="junctionName">Junction Name:</label>
<input type="text" id="junctionName" name="name" required minlength="1" required pattern="[a-zA-Z0-9\s]+" size="10">

   <!--SLIDER FOR Number of Lanes-->
        <!--Slider for the number of lanes-->
        <label for="lanes">Number of lanes:</label>
        <input type="range" id="lanes" min="1" max="5" value="3">
        <span id="lanesValue">3</span>



<!-- lane Menu-->
<div id="laneMenu">
    <button onclick="switchLane(0)">Lane 1</button>
    <button onclick="switchLane(1)">Lane 2</button>
    <button onclick="switchLane(2)">Lane 3</button>
    <button onclick="switchLane(3)">Lane 4</button>
    <button onclick="switchLane(4)">Lane 5</button>
</div> 


<!--Changed to a drop down -->
    <div id="laneSettings">
        <select id="directionOptions">
            <option value="">Select Lane Type</option>
            <option value="busLane" class="special">Bus Lane</option>
            <option value="cycleLane" class="special">Cycle Lane</option>
            <option value="leftOnly">Dedicated Left Lane</option>
            <option value="rightOnly">Dedicated Right Lane</option>
            <option value="straightOnly">Straight Only</option>
            <option value="leftStraight">Left & Straight</option>
            <option value="rightStraight">Right & Straight</option>
            <option value="allDirs">Any Direction</option>
        </select>
        <span id="direction"></span>
    </div>

  
    <!-- Pedistrian Crossing Slider-->
    <label for="pedestrian">Pedestrian Crossing:</label>
    <input type="checkbox" id="pedestrian">
    <span class="Crossing toggle"></span>

    <br><br> 
    <button id = "submitLayout" onclick="submitData()"> Save Layout</button>

    <button id="compareButton" style="display: none;" disabled onclick="window.location.href = '/loading_page'">Compare My Layouts</button>



</div>


</body>
</html>